
/* Your CSS Code here. */
* {
    margin: 0;
    padding: 0;
}

.main {
    width: 200px;
    background-color: purple;
    border-left-color: green;
    border-left-style: solid;
    border-left-width: 5px;
    padding: 10px;
}

.heading {
    font-size: 20px;
    color: white;
    text-decoration: underline;
}